adapter_khz 1000

# comstick ftdi device
interface ftdi
ftdi_vid_pid 0x0403 0x6010

ftdi_layout_init 0x0008 0x000b
ftdi_layout_signal nTRST -data 0x0010 -oe 0x0010
ftdi_layout_signal nSRST -data 0x0040 -oe 0x0040

adapter_nsrst_delay 100
jtag_ntrst_delay 100

# use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst
