Debug
settings
/firmware/openos/projects/gina/00std_eui64/*.dep
/firmware/openos/projects/gina/00std_eui64/*.sfr
/firmware/openos/projects/gina/00std_leds_xtal/*.dep
/firmware/openos/projects/gina/00std_timers/*.dep
/firmware/openos/projects/gina/00std_uart/*.dep
/firmware/openos/projects/gina/01bsp_bothtimers/*.dep
/firmware/openos/projects/gina/00std_eui64/Debug
/firmware/openos/projects/gina/01bsp_bothtimers_alt/*.dep
/firmware/openos/projects/gina/01bsp_bsp_timer/*.dep
/firmware/openos/projects/gina/01bsp_bsp_timer_alt/*.dep
/firmware/openos/projects/gina/01bsp_closetimers/*.dep
/firmware/openos/projects/gina/01bsp_closetimers_alt/*.dep
/firmware/openos/projects/gina/01bsp_debugpins/*.dep
/firmware/openos/projects/gina/01bsp_leds/*.dep
/firmware/openos/projects/gina/01bsp_radio/*.dep
/firmware/openos/projects/gina/01bsp_radiotimer/*.dep
/firmware/openos/projects/gina/01bsp_radiotimer_alt/*.dep
/firmware/openos/projects/gina/01bsp_spi/*.dep
/firmware/openos/projects/gina/01bsp_uart/*.dep
/firmware/openos/projects/gina/02drv_bothtimers_openserial_alt/*.dep
/firmware/openos/projects/gina/02drv_bothtimers_openserial_alt/*.sfr
/firmware/openos/projects/gina/02drv_headsup/*.dep
/firmware/openos/projects/gina/02drv_opentimers/*.dep
/firmware/openos/projects/gina/02drv_opentimers_alt/*.dep
/firmware/openos/projects/gina/03oos_macpong/*.dep
/firmware/openos/projects/gina/03oos_macpong_alt/*.dep
/firmware/openos/projects/gina/03oos_openwsn/*.dep
/firmware/openos/projects/gina/03oos_openwsn_alt/*.dep
/firmware/openos/projects/gina/01bsp_radio_rx/*.dep
/firmware/openos/projects/gina/01bsp_radio_tx/*.dep
/firmware/openos/projects/gina/01bsp_radio_rx/*.sfr
/firmware/openos/projects/gina/02drv_headsup/*.sfr
/firmware/openos/projects/gina/02drv_opentimers/*.sfr
/firmware/openos/projects/gina/03oos_macpong/*.sfr
/firmware/openos/projects/gina/03oos_macpong_alt/*.sfr
build
/.sconsign.dblite
