Debug
settings
*.dep
*.ewd
*.ewt
*.bak
*.sfr
*.o
*.exe
*.ihex
*.a43
*.bin
*.so
*.a
*.pyd
*.pyc
/build
/images
/.sconsign.dblite
*.map
*.lst
*~
/projects/telosb/00std_button/path.txt
/projects/telosb/00std_xon_xoff/path.txt
/projects/telosb/03oos_openwsn/path.txt
/projects/telosb/02drv_openserial/path.txt
/projects/telosb/01bsp_uart/path.txt
/projects/telosb/03oos_macpong/path.txt
/projects/telosb/02drv_opentimers/path.txt
/projects/openmote-b/01bsp_openradio_rx/log.txt
/projects/openmote-b/01bsp_radio_tx/asm.s
